{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'mainapp/text.css' %}">
{% endblock %}
{% block content %}
<section class="box">
    <div class="inner-block"><textarea class="left" id="input" placeholder="text to be translated"></textarea><select id="src_lang_code">
            <option value="ace_Arab">acehnese (Arabic script)</option>
            <option value="ace_Latn">acehnese (Latin script)</option>
            <option value="acm_Arab">mesopotamian Arabic</option>
            <option value="acq_Arab">ta’izzi-Adeni Arabic</option>
            <option value="aeb_Arab">tunisian Arabic</option>
            <option value="afr_Latn">afrikaans</option>
            <option value="ajp_Arab">south Levantine Arabic</option>
            <option value="aka_Latn">akan</option>
            <option value="amh_Ethi">amharic</option>
            <option value="apc_Arab">north Levantine Arabic</option>
            <option value="arb_Arab">modern Standard Arabic</option>
            <option value="arb_Latn">modern Standard Arabic (Romanized)</option>
            <option value="ars_Arab">najdi Arabic</option>
            <option value="ary_Arab">moroccan Arabic</option>
            <option value="arz_Arab">egyptian Arabic</option>
            <option value="asm_Beng">assamese</option>
            <option value="ast_Latn">asturian</option>
            <option value="awa_Deva">awadhi</option>
            <option value="ayr_Latn">central Aymara</option>
            <option value="azb_Arab">south Azerbaijani</option>
            <option value="azj_Latn">north Azerbaijani</option>
            <option value="bak_Cyrl">bashkir</option>
            <option value="bam_Latn">bambara</option>
            <option value="ban_Latn">balinese</option>
            <option value="bel_Cyrl">belarusian</option>
            <option value="bem_Latn">bemba</option>
            <option value="ben_Beng">bengali</option>
            <option value="bho_Deva">bhojpuri</option>
            <option value="bjn_Arab">banjar (Arabic script)</option>
            <option value="bjn_Latn">banjar (Latin script)</option>
            <option value="bod_Tibt">standard Tibetan</option>
            <option value="bos_Latn">bosnian</option>
            <option value="bug_Latn">buginese</option>
            <option value="bul_Cyrl">bulgarian</option>
            <option value="cat_Latn">catalan</option>
            <option value="ceb_Latn">cebuano</option>
            <option value="ces_Latn">czech</option>
            <option value="cjk_Latn">chokwe</option>
            <option value="ckb_Arab">central Kurdish</option>
            <option value="crh_Latn">crimean Tatar</option>
            <option value="cym_Latn">welsh</option>
            <option value="dan_Latn">danish</option>
            <option value="deu_Latn">german</option>
            <option value="dik_Latn">southwestern Dinka</option>
            <option value="dyu_Latn">dyula</option>
            <option value="dzo_Tibt">dzongkha</option>
            <option value="ell_Grek">greek</option>
            <option value="eng_Latn">english</option>
            <option value="epo_Latn">esperanto</option>
            <option value="est_Latn">estonian</option>
            <option value="eus_Latn">basque</option>
            <option value="ewe_Latn">ewe</option>
            <option value="fao_Latn">faroese</option>
            <option value="fij_Latn">fijian</option>
            <option value="fin_Latn">finnish</option>
            <option value="fon_Latn">fon</option>
            <option value="fra_Latn">french</option>
            <option value="fur_Latn">friulian</option>
            <option value="fuv_Latn">nigerian Fulfulde</option>
            <option value="gla_Latn">scottish Gaelic</option>
            <option value="gle_Latn">irish</option>
            <option value="glg_Latn">galician</option>
            <option value="grn_Latn">guarani</option>
            <option value="guj_Gujr">gujarati</option>
            <option value="hat_Latn">haitian Creole</option>
            <option value="hau_Latn">hausa</option>
            <option value="heb_Hebr">hebrew</option>
            <option value="hin_Deva">hindi</option>
            <option value="hne_Deva">chhattisgarhi</option>
            <option value="hrv_Latn">croatian</option>
            <option value="hun_Latn">hungarian</option>
            <option value="hye_Armn">armenian</option>
            <option value="ibo_Latn">igbo</option>
            <option value="ilo_Latn">ilocano</option>
            <option value="ind_Latn">indonesian</option>
            <option value="isl_Latn">icelandic</option>
            <option value="ita_Latn">italian</option>
            <option value="jav_Latn">javanese</option>
            <option value="jpn_Jpan">japanese</option>
            <option value="kab_Latn">kabyle</option>
            <option value="kac_Latn">jingpho</option>
            <option value="kam_Latn">kamba</option>
            <option value="kan_Knda">kannada</option>
            <option value="kas_Arab">kashmiri (Arabic script)</option>
            <option value="kas_Deva">kashmiri (Devanagari script)</option>
            <option value="kat_Geor">georgian</option>
            <option value="knc_Arab">central Kanuri (Arabic script)</option>
            <option value="knc_Latn">central Kanuri (Latin script)</option>
            <option value="kaz_Cyrl">kazakh</option>
            <option value="kbp_Latn">kabiyè</option>
            <option value="kea_Latn">kabuverdianu</option>
            <option value="khm_Khmr">khmer</option>
            <option value="kik_Latn">kikuyu</option>
            <option value="kin_Latn">kinyarwanda</option>
            <option value="kir_Cyrl">kyrgyz</option>
            <option value="kmb_Latn">kimbundu</option>
            <option value="kmr_Latn">northern Kurdish</option>
            <option value="kon_Latn">kikongo</option>
            <option value="kor_Hang">korean</option>
            <option value="lao_Laoo">lao</option>
            <option value="lij_Latn">ligurian</option>
            <option value="lim_Latn">limburgish</option>
            <option value="lin_Latn">lingala</option>
            <option value="lit_Latn">lithuanian</option>
            <option value="lmo_Latn">lombard</option>
            <option value="ltg_Latn">latgalian</option>
            <option value="ltz_Latn">luxembourgish</option>
            <option value="lua_Latn">luba-Kasai</option>
            <option value="lug_Latn">ganda</option>
            <option value="luo_Latn">luo</option>
            <option value="lus_Latn">mizo</option>
            <option value="lvs_Latn">standard Latvian</option>
            <option value="mag_Deva">magahi</option>
            <option value="mai_Deva">maithili</option>
            <option value="mal_Mlym">malayalam</option>
            <option value="mar_Deva">marathi</option>
            <option value="min_Arab">minangkabau (Arabic script)</option>
            <option value="min_Latn">minangkabau (Latin script)</option>
            <option value="mkd_Cyrl">macedonian</option>
            <option value="plt_Latn">plateau Malagasy</option>
            <option value="mlt_Latn">maltese</option>
            <option value="mni_Beng">meitei (Bengali script)</option>
            <option value="khk_Cyrl">halh Mongolian</option>
            <option value="mos_Latn">mossi</option>
            <option value="mri_Latn">maori</option>
            <option value="mya_Mymr">burmese</option>
            <option value="nld_Latn">dutch</option>
            <option value="nno_Latn">norwegian Nynorsk</option>
            <option value="nob_Latn">norwegian Bokmål</option>
            <option value="npi_Deva">nepali</option>
            <option value="nso_Latn">northern Sotho</option>
            <option value="nus_Latn">nuer</option>
            <option value="nya_Latn">nyanja</option>
            <option value="oci_Latn">occitan</option>
            <option value="gaz_Latn">west Central Oromo</option>
            <option value="ory_Orya">odia</option>
            <option value="pag_Latn">pangasinan</option>
            <option value="pan_Guru">eastern Panjabi</option>
            <option value="pap_Latn">papiamento</option>
            <option value="pes_Arab">western Persian</option>
            <option value="pol_Latn">polish</option>
            <option value="por_Latn">portuguese</option>
            <option value="prs_Arab">dari</option>
            <option value="pbt_Arab">southern Pashto</option>
            <option value="quy_Latn">ayacucho Quechua</option>
            <option value="ron_Latn">romanian</option>
            <option value="run_Latn">rundi</option>
            <option value="rus_Cyrl">russian</option>
            <option value="sag_Latn">sango</option>
            <option value="san_Deva">sanskrit</option>
            <option value="sat_Olck">santali</option>
            <option value="scn_Latn">sicilian</option>
            <option value="shn_Mymr">shan</option>
            <option value="sin_Sinh">sinhala</option>
            <option value="slk_Latn">slovak</option>
            <option value="slv_Latn">slovenian</option>
            <option value="smo_Latn">samoan</option>
            <option value="sna_Latn">shona</option>
            <option value="snd_Arab">sindhi</option>
            <option value="som_Latn">somali</option>
            <option value="sot_Latn">southern Sotho</option>
            <option value="spa_Latn">spanish</option>
            <option value="als_Latn">tosk Albanian</option>
            <option value="srd_Latn">sardinian</option>
            <option value="srp_Cyrl">serbian</option>
            <option value="ssw_Latn">swati</option>
            <option value="sun_Latn">sundanese</option>
            <option value="swe_Latn">swedish</option>
            <option value="swh_Latn">swahili</option>
            <option value="szl_Latn">silesian</option>
            <option value="tam_Taml">tamil</option>
            <option value="tat_Cyrl">tatar</option>
            <option value="tel_Telu">telugu</option>
            <option value="tgk_Cyrl">tajik</option>
            <option value="tgl_Latn">tagalog</option>
            <option value="tha_Thai">thai</option>
            <option value="tir_Ethi">tigrinya</option>
            <option value="taq_Latn">tamasheq (Latin script)</option>
            <option value="taq_Tfng">tamasheq (Tifinagh script)</option>
            <option value="tpi_Latn">tok Pisin</option>
            <option value="tsn_Latn">tswana</option>
            <option value="tso_Latn">tsonga</option>
            <option value="tuk_Latn">turkmen</option>
            <option value="tum_Latn">tumbuka</option>
            <option value="tur_Latn">turkish</option>
            <option value="twi_Latn">twi</option>
            <option value="tzm_Tfng">central Atlas Tamazight</option>
            <option value="uig_Arab">uyghur</option>
            <option value="ukr_Cyrl">ukrainian</option>
            <option value="umb_Latn">umbundu</option>
            <option value="urd_Arab">urdu</option>
            <option value="uzn_Latn">northern Uzbek</option>
            <option value="vec_Latn">venetian</option>
            <option value="vie_Latn">vietnamese</option>
            <option value="war_Latn">waray</option>
            <option value="wol_Latn">wolof</option>
            <option value="xho_Latn">xhosa</option>
            <option value="ydd_Hebr">eastern Yiddish</option>
            <option value="yor_Latn">yoruba</option>
            <option value="yue_Hant">yue Chinese</option>
            <option value="zho_Hans">chinese (Simplified)</option>
            <option value="zho_Hant">chinese (Traditional)</option>
            <option value="zsm_Latn">standard Malay</option>
            <option value="zul_Latn">zulu</option>
        </select></div>
    <button class="middle" onclick="convert()">convert</button>
    <div class="inner-block">
        <div class="right" id="text"></div><select id="tgt_lang_code">
            <option value="ace_Arab">acehnese (Arabic script)</option>
            <option value="ace_Latn">acehnese (Latin script)</option>
            <option value="acm_Arab">mesopotamian Arabic</option>
            <option value="acq_Arab">ta’izzi-Adeni Arabic</option>
            <option value="aeb_Arab">tunisian Arabic</option>
            <option value="afr_Latn">afrikaans</option>
            <option value="ajp_Arab">south Levantine Arabic</option>
            <option value="aka_Latn">akan</option>
            <option value="amh_Ethi">amharic</option>
            <option value="apc_Arab">north Levantine Arabic</option>
            <option value="arb_Arab">modern Standard Arabic</option>
            <option value="arb_Latn">modern Standard Arabic (Romanized)</option>
            <option value="ars_Arab">najdi Arabic</option>
            <option value="ary_Arab">moroccan Arabic</option>
            <option value="arz_Arab">egyptian Arabic</option>
            <option value="asm_Beng">assamese</option>
            <option value="ast_Latn">asturian</option>
            <option value="awa_Deva">awadhi</option>
            <option value="ayr_Latn">central Aymara</option>
            <option value="azb_Arab">south Azerbaijani</option>
            <option value="azj_Latn">north Azerbaijani</option>
            <option value="bak_Cyrl">bashkir</option>
            <option value="bam_Latn">bambara</option>
            <option value="ban_Latn">balinese</option>
            <option value="bel_Cyrl">belarusian</option>
            <option value="bem_Latn">bemba</option>
            <option value="ben_Beng">bengali</option>
            <option value="bho_Deva">bhojpuri</option>
            <option value="bjn_Arab">banjar (Arabic script)</option>
            <option value="bjn_Latn">banjar (Latin script)</option>
            <option value="bod_Tibt">standard Tibetan</option>
            <option value="bos_Latn">bosnian</option>
            <option value="bug_Latn">buginese</option>
            <option value="bul_Cyrl">bulgarian</option>
            <option value="cat_Latn">catalan</option>
            <option value="ceb_Latn">cebuano</option>
            <option value="ces_Latn">czech</option>
            <option value="cjk_Latn">chokwe</option>
            <option value="ckb_Arab">central Kurdish</option>
            <option value="crh_Latn">crimean Tatar</option>
            <option value="cym_Latn">welsh</option>
            <option value="dan_Latn">danish</option>
            <option value="deu_Latn">german</option>
            <option value="dik_Latn">southwestern Dinka</option>
            <option value="dyu_Latn">dyula</option>
            <option value="dzo_Tibt">dzongkha</option>
            <option value="ell_Grek">greek</option>
            <option value="eng_Latn">english</option>
            <option value="epo_Latn">esperanto</option>
            <option value="est_Latn">estonian</option>
            <option value="eus_Latn">basque</option>
            <option value="ewe_Latn">ewe</option>
            <option value="fao_Latn">faroese</option>
            <option value="fij_Latn">fijian</option>
            <option value="fin_Latn">finnish</option>
            <option value="fon_Latn">fon</option>
            <option value="fra_Latn">french</option>
            <option value="fur_Latn">friulian</option>
            <option value="fuv_Latn">nigerian Fulfulde</option>
            <option value="gla_Latn">scottish Gaelic</option>
            <option value="gle_Latn">irish</option>
            <option value="glg_Latn">galician</option>
            <option value="grn_Latn">guarani</option>
            <option value="guj_Gujr">gujarati</option>
            <option value="hat_Latn">haitian Creole</option>
            <option value="hau_Latn">hausa</option>
            <option value="heb_Hebr">hebrew</option>
            <option value="hin_Deva">hindi</option>
            <option value="hne_Deva">chhattisgarhi</option>
            <option value="hrv_Latn">croatian</option>
            <option value="hun_Latn">hungarian</option>
            <option value="hye_Armn">armenian</option>
            <option value="ibo_Latn">igbo</option>
            <option value="ilo_Latn">ilocano</option>
            <option value="ind_Latn">indonesian</option>
            <option value="isl_Latn">icelandic</option>
            <option value="ita_Latn">italian</option>
            <option value="jav_Latn">javanese</option>
            <option value="jpn_Jpan">japanese</option>
            <option value="kab_Latn">kabyle</option>
            <option value="kac_Latn">jingpho</option>
            <option value="kam_Latn">kamba</option>
            <option value="kan_Knda">kannada</option>
            <option value="kas_Arab">kashmiri (Arabic script)</option>
            <option value="kas_Deva">kashmiri (Devanagari script)</option>
            <option value="kat_Geor">georgian</option>
            <option value="knc_Arab">central Kanuri (Arabic script)</option>
            <option value="knc_Latn">central Kanuri (Latin script)</option>
            <option value="kaz_Cyrl">kazakh</option>
            <option value="kbp_Latn">kabiyè</option>
            <option value="kea_Latn">kabuverdianu</option>
            <option value="khm_Khmr">khmer</option>
            <option value="kik_Latn">kikuyu</option>
            <option value="kin_Latn">kinyarwanda</option>
            <option value="kir_Cyrl">kyrgyz</option>
            <option value="kmb_Latn">kimbundu</option>
            <option value="kmr_Latn">northern Kurdish</option>
            <option value="kon_Latn">kikongo</option>
            <option value="kor_Hang">korean</option>
            <option value="lao_Laoo">lao</option>
            <option value="lij_Latn">ligurian</option>
            <option value="lim_Latn">limburgish</option>
            <option value="lin_Latn">lingala</option>
            <option value="lit_Latn">lithuanian</option>
            <option value="lmo_Latn">lombard</option>
            <option value="ltg_Latn">latgalian</option>
            <option value="ltz_Latn">luxembourgish</option>
            <option value="lua_Latn">luba-Kasai</option>
            <option value="lug_Latn">ganda</option>
            <option value="luo_Latn">luo</option>
            <option value="lus_Latn">mizo</option>
            <option value="lvs_Latn">standard Latvian</option>
            <option value="mag_Deva">magahi</option>
            <option value="mai_Deva">maithili</option>
            <option value="mal_Mlym">malayalam</option>
            <option value="mar_Deva">marathi</option>
            <option value="min_Arab">minangkabau (Arabic script)</option>
            <option value="min_Latn">minangkabau (Latin script)</option>
            <option value="mkd_Cyrl">macedonian</option>
            <option value="plt_Latn">plateau Malagasy</option>
            <option value="mlt_Latn">maltese</option>
            <option value="mni_Beng">meitei (Bengali script)</option>
            <option value="khk_Cyrl">halh Mongolian</option>
            <option value="mos_Latn">mossi</option>
            <option value="mri_Latn">maori</option>
            <option value="mya_Mymr">burmese</option>
            <option value="nld_Latn">dutch</option>
            <option value="nno_Latn">norwegian Nynorsk</option>
            <option value="nob_Latn">norwegian Bokmål</option>
            <option value="npi_Deva">nepali</option>
            <option value="nso_Latn">northern Sotho</option>
            <option value="nus_Latn">nuer</option>
            <option value="nya_Latn">nyanja</option>
            <option value="oci_Latn">occitan</option>
            <option value="gaz_Latn">west Central Oromo</option>
            <option value="ory_Orya">odia</option>
            <option value="pag_Latn">pangasinan</option>
            <option value="pan_Guru">eastern Panjabi</option>
            <option value="pap_Latn">papiamento</option>
            <option value="pes_Arab">western Persian</option>
            <option value="pol_Latn">polish</option>
            <option value="por_Latn">portuguese</option>
            <option value="prs_Arab">dari</option>
            <option value="pbt_Arab">southern Pashto</option>
            <option value="quy_Latn">ayacucho Quechua</option>
            <option value="ron_Latn">romanian</option>
            <option value="run_Latn">rundi</option>
            <option value="rus_Cyrl">russian</option>
            <option value="sag_Latn">sango</option>
            <option value="san_Deva">sanskrit</option>
            <option value="sat_Olck">santali</option>
            <option value="scn_Latn">sicilian</option>
            <option value="shn_Mymr">shan</option>
            <option value="sin_Sinh">sinhala</option>
            <option value="slk_Latn">slovak</option>
            <option value="slv_Latn">slovenian</option>
            <option value="smo_Latn">samoan</option>
            <option value="sna_Latn">shona</option>
            <option value="snd_Arab">sindhi</option>
            <option value="som_Latn">somali</option>
            <option value="sot_Latn">southern Sotho</option>
            <option value="spa_Latn">spanish</option>
            <option value="als_Latn">tosk Albanian</option>
            <option value="srd_Latn">sardinian</option>
            <option value="srp_Cyrl">serbian</option>
            <option value="ssw_Latn">swati</option>
            <option value="sun_Latn">sundanese</option>
            <option value="swe_Latn">swedish</option>
            <option value="swh_Latn">swahili</option>
            <option value="szl_Latn">silesian</option>
            <option value="tam_Taml">tamil</option>
            <option value="tat_Cyrl">tatar</option>
            <option value="tel_Telu">telugu</option>
            <option value="tgk_Cyrl">tajik</option>
            <option value="tgl_Latn">tagalog</option>
            <option value="tha_Thai">thai</option>
            <option value="tir_Ethi">tigrinya</option>
            <option value="taq_Latn">tamasheq (Latin script)</option>
            <option value="taq_Tfng">tamasheq (Tifinagh script)</option>
            <option value="tpi_Latn">tok Pisin</option>
            <option value="tsn_Latn">tswana</option>
            <option value="tso_Latn">tsonga</option>
            <option value="tuk_Latn">turkmen</option>
            <option value="tum_Latn">tumbuka</option>
            <option value="tur_Latn">turkish</option>
            <option value="twi_Latn">twi</option>
            <option value="tzm_Tfng">central Atlas Tamazight</option>
            <option value="uig_Arab">uyghur</option>
            <option value="ukr_Cyrl">ukrainian</option>
            <option value="umb_Latn">umbundu</option>
            <option value="urd_Arab">urdu</option>
            <option value="uzn_Latn">northern Uzbek</option>
            <option value="vec_Latn">venetian</option>
            <option value="vie_Latn">vietnamese</option>
            <option value="war_Latn">waray</option>
            <option value="wol_Latn">wolof</option>
            <option value="xho_Latn">xhosa</option>
            <option value="ydd_Hebr">eastern Yiddish</option>
            <option value="yor_Latn">yoruba</option>
            <option value="yue_Hant">yue Chinese</option>
            <option value="zho_Hans">chinese (Simplified)</option>
            <option value="zho_Hant">chinese (Traditional)</option>
            <option value="zsm_Latn">standard Malay</option>
            <option value="zul_Latn">zulu</option>
        </select>
    </div>
    <audio controls>
        <source src="horse.ogg" type="audio/ogg">
        <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
</section>
<script src="{% static 'mainapp/text.js' %}"></script>
{% endblock %}